.Chat {
  width: 250px;
  height: 100%;
  min-width: max-content;
  display: flex;
  flex-direction: column;
}

.Messages {
  overflow: overlay;
  height: 615px;
}

.Messages::-webkit-scrollbar {
  width: 15px;
}

.Input {
  padding: 10px 15px;
  width: 250px;
}

