.noticeLineSelected {
  background-color: rgba(103, 255, 123, 0.308);
}

.noticeLineSelectedGlyph {
  background-color: rgba(33, 243, 250, 0.342);
}

.noticeLineSelectedMargin {
  background-color: rgba(103, 255, 123, 0.308);
}
