.WorkSpace {
  display: flex;
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.WorkSpace__wrapper_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Resizable {
  overflow: overlay;
  display: flex;
}