:root {
  --back: #303030;
  --backSecond: #252525;
  --color: #165996;
}

.Dark {
  background-color: var(--back);
}

.DarkSecond {
  background-color: var(--backSecond);
}

.HoverText:hover {
  cursor: pointer;
  color: var(--color);
}

body {
  background-color: var(--back);
}
