.ToolPanel_Icons {
  font-size: 1.8em;
}

.ToolPanel_Space {
  display: flex;
  align-items: center;
  width: 40px;
}

.Wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.ToolPanel_OpenedTool {
  width: 100%;
  height: 100%;
}

.Icon {
  cursor: pointer;
}
