.ToolPanel_Icons {
  font-size: 1.8em;
}

.ToolPanel_Space {
  display: flex;
  align-items: center;
  width: 40px;
  box-shadow: -15px 0px 15px 15px rgba(0, 0, 0, 0.301);
  z-index: 3;
  height: 100%;
}

.Wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.ToolPanel_OpenedTool {
  transition: all 0.02s ease-in;
}

.Icon {
  cursor: pointer;
}
